body{
    margin: 0;
    color: #343231;
    font-family: 'Times New Roman', Times, serif;
    background-color: #dee2e6;
}

/* ----- TYPOGRAPHY ----- */

h1,
h3{
    margin: 0;
}

h1{
    font-family: 'Mystery Quest', cursive;
    color: #343231;
    font-size: 2rem;
}

h2{
    color: #343231;
    font-size: 1.375rem;
    margin-top: 0;
}

h3{
    font-size: 1.25rem;
}

p{
    line-height: 1.5;
}

.section-two h2{
    color: inherit;
}

/* ----- LINKS ----- */

a{
    color: blueviolet;
    text-decoration: underline dotted;
}

a:hover,
a:active{
    color: blueviolet;
}

.btn{
    font-size: 1.125rem;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border-radius: 4.6px;
}

.btn-dark{
    color: whitesmoke;
    background-color: #343231;
}

.btn:hover,
.btn:active{
    color:#343231;
    background-color: bisque;
}

/* ----- LAYOUT ----- */


header,
section,
footer {
    padding: 1.25em 0;
}

.container{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.main-image{
    width: 100%;
    display: block;
    max-width: 800px;
    margin: 0 auto 2em;
}

.section-two-image-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.feature-image{
    width: 100%;
    border-radius: 4.6px;
}

.feature-item{
    flex: 1 260px;
}

footer{
    text-align: center;
    color:#343231;
}

/* ----- NAVIGATION ----- */

nav a{
    color:#343231;
    text-decoration: none;
    font-size: 1.125rem;
    padding: 0.85em 0;
    display: block;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* ----- MEDIA QUERIES ----- */

@media (max-width: 767px){
    
    header{
        text-align: center;
    }
}

nav{
    margin-top: 1.5em;
}

li:not(:last-child){
    border-bottom: 1px dotted #343231; 
}

@media (min-width: 768px){
    header,
    section,
    footer{
        padding: 2.875em 0;
    }

    header .container,
    nav ul {
        display: flex;
        
    }

    header .container{
        justify-content: space-between;
        align-items: center;
    }

    nav li{
        margin-left: 1.25em;
    }

    .btn{
        display: inline-block;
        margin-right: 0.5em;
    }

    h1 {
        font-size: 2.25rem;
    }

    h2{
        font-size: 1.75rem;
    }

    p {
        font-size: 1.125rem;
    }

    .feature-image{
        max-height: 261px;
    }

    a{
        text-decoration: none;
    }

}